@font-face {
    font-family: 'Mina';
    src: url(/assets/font/Mina/Mina-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Mina', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(/assets/images/bg_blue.png);

}

#gameBoard {
    padding-right: 85px;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url(https://media.istockphoto.com/photos/decking-gray-seamless-texture-bump-displace-reflect-and-glossiness-picture-id988364558?k=20&m=988364558&s=170667a&w=0&h=xVRGjQ3-arzzVlwWrr8BCOimOsRAbl1fDg3ckeUj7lg=);
    border: solid 10px black;
    border-radius: 5px;
    background-size: contain;
}

.card {
    width: 160px;
    height: 200px;
    position: relative;

    transform-style: preserve-3d;
    transition: transform .5s;
    box-sizing: border-box;
}

.card_front,
.card_back {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.45);
    backface-visibility: hidden;
}

.flip {
    transform: rotateY(180deg);
}

.card_front {
    transform: rotateY(180deg);
    background-color: #292F40;
}

.card_back {
    background-image: url(/assets/images/rune.png);
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: padding 200ms;
}

.card_back:hover{
    padding: 2px;
}


#gameOver {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    font-size: 60px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
}

#restart {
    padding: 20px;
    font-size: 20px;
    background-color: rgb(80, 188, 231);
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    font-family: 'Mina', sans-serif;
    cursor: pointer;
    transition-property: font-size;
    transition-duration: 300ms;
}

#restart:hover {
    font-size: 25px;

}

#gameBoard {
    max-width: 700px;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
    gap: 35px;
}